body{
    overflow: hidden;
    background-color:hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.card {
    background-color: white;
    position: relative;
    left: 40vw;
    right: 15vw;
    top: 5vh;
    bottom: 5vh;
    border-radius: 15px;
    width: 19vw;
    height: 65vh;
}


#qrcode{
    width: 17vw;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    left: 0.2vw;
    top: 0.5vh;
}

p{
   color: gray;
   font-size: 13px;
   text-align: center;
}
h1{
    font-size: 18px;
    text-align: center;
}
.info{
    position: relative;
    bottom: 4vh;
    padding: 20px;
}